
footer {
  width: 100vw;
  color: #FFF;
  background-color: #ffb2b9;
  text-align: center;
}

.footer-contents {
  padding: 5vh 0;
}

footer h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 2vh;
}

footer p {
  font-size: 30px;
}

footer .copylight {
  font-size: 14px;
  background: #b2b2b2;
}
