<footer class='footer'>
  <div class='footer-contents'>
    <div>
      <h2>pockeee</h2>
      <p>pockeee(ポッケー)は、<br>まいつきの おたのしみの おこづかいと<br>がんばった おてつだいの おだちんを<br>かんりする アプリです。</p>
    </div>
  </div>
  <p class='copylight'>© pockeee</p>
</footer>