<div class="card">
  <%= link_to image_tag(member.image, class: :card__img ), member_path(member.id) %>
  <div class="card__body">
    <%= link_to member.name, member_path(member.id), class: :card__title%>
    <p class="card__summary">
      <%= member.fixed %>
    </p>
  </div>
</div>
