<div class='contents-wrap'>
  <h2 class='page-ttl'><span class="member-ttl-name"><%= @member.name %><span class="member-ttl-name-small">さんの</span>ポッケー</span></h2>
  <ul class="member-list-wrap">
    <li></li>
  </ul>
  <div class="member-btn">
    <ul class="member-btn-list">
      <li>
        <%= link_to 'メンバー編集(へんしゅう)', edit_member_path(@member.id), method: :get %>
      </li>
      <li>
        <%= link_to 'メンバー削除(削除)', member_path(@member.id), method: :delete %>
      </li>
    </ul>
  </div>
</div>
